.wrapper {
  /* position: relative; */
  /* display: flex;
  flex-direction: column; */
}

/* .mediaWrapper {
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
}

.media {
  height: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: scroll;
} */

.media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.media li {
  display: inline-block;
  margin: 0;
  width: 50%;
}

/* @media (max-width: 500px) {
  .media {
    order: 1;
  }

  .contentColumn {
    order: 2;
  }
} */

/* @media (min-width: 500px) {
  .wrapper {
    flex-direction: row;
  }

  .contentColumn {
    flex-basis: 600px;
    flex-shrink: 1;
  }

  .media {
    padding: 0 6rem 0 3rem;
  }

  .media li {
    margin: 4em 0;
    max-width: 300px;
  }

  .media li:first-child {
    margin-top: 0;
  }

  .media li:last-child {
    margin-bottom: 0;
  }

  .media li:nth-child(even) {
    padding-left: 20%;
  }

  .media li:nth-child(odd) {
    padding-right: 20%;
  }
} */
