.roles {
  list-style: none;
  padding: 0;
}

.role {
  margin-top: 4rem;
}

.role:first-child {
  margin-top: 2.5rem;
}

.roleName {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.roleOrganisation {
  font-size: 1.2rem;
  margin: 0;
}

.roleDates {
  font-size: 1.2rem;
  color: #777;
  margin: 0;
}

.roleDescription {
  margin-top: 1.5rem;
}

.roleProjects {
  margin-top: 1.5rem;
}