/* @import './../assets/styles/fonts.css'; */

html {
  --color-highlight: #7E4AD1;
  --color-grey-dark: #2A2A2A;
  --color-grey-mid: #888888;
  --color-grey-light: #BABABA;
  --bp-m: 450px;
  --bp-l: 768px;
  --bl-xl: 1024px;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0 0 10rem;
  font-size: 1.125rem;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark);
}

.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
}

.header-title {
  order: 2;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
}

@media screen and (min-width: 768px) {
  .header-title {
    margin-top: 6.7rem;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: -0.05em;
  }
}

.header-title span {
  color: var(--color-highlight);
}

.header-name {
  order: 1;
  margin-top: 4.5rem;
  margin-bottom: 0;
  color: var(--color-highlight);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.14;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .header-name {
    margin-top: 9.1rem;
    font-size: 1.75rem;
  }
}

.header-link {
  order: 3;
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.header-link a {
  font-size: 1.25rem;
  line-height: 1.16;
  /* identical to box height, or 117% */
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .header-link a {
    font-size: 1.5rem;
  }
}

a {
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.02em;
  color: var(--color-highlight);
}

section {
  margin-top: 5.4rem;
}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    margin-top: 8.5rem;
  }
}

.section-heading {
  flex-shrink: 0;
  margin: 0 0 1rem;
  width: 12.5rem;
}

@media screen and (min-width: 768px) {
  .section-heading {
    margin: 0 1.5rem 0 0;
  }
}

.section-content {
  max-width: 40rem;
}

.section-content *:first-child {
  margin-top: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-grey-mid);
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list li + li {
  margin-top: 1rem;
}

.projects-list-meta {
  margin: 0;
  color: var(--color-grey-mid);
}

.projects-list-meta span {
  display: inline-block;
  margin-left: 0.25rem;
  color: var(--color-grey-light);
}

.section-content h3 {
  margin-top: 4rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.67;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .section-content h3 {
    margin-top: 6rem;
    font-size: 1.5rem;
  }
}

.section-content h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--color-grey-mid);
}

@media screen and (min-width: 768px) {
  .section-content h4 {
    font-size: 1.25rem;
  }
}

ul.list {
  list-style-type: none;
  padding: 0 0 0 1.5rem;
}

ul.list li {
  position: relative;
}

ul.list li + li {
  margin-top: 0.5rem;
}

ul.list li::before {
  content: '—';
  position: absolute;
  left: -1.5rem;
  display: inline-block;
  color: var(--color-grey-mid);

}

.role-meta {
  margin: 0;
}

.role-link, .role-duration {
  font-size: 1.125rem;
  line-height: 1.3;
}

.role-duration {
  display: block;
  color: var(--color-grey-mid);
}

@media screen and (min-width: 768px) {
  .role-link, .role-duration {
    font-size: 1.25rem;
  }

  .role-duration {
    display: inline-block;
  }
}
