html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: serif; */
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

.sr-only {
  /* 🙌 https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

/* Margin is applied on containers */
h1 {
  margin-top: 0;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

li, p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

li p {
  /* margin: 0; */
}