.container {
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.hasSidebar {
    /* max-width: 1200px; */
}

@media(min-width: 500px) {
    .container {
        margin-left: calc(5% + 15vw);
    }
}

.container > *:first-child {
    padding-top: 20%;
}